h3 {
    font-size: clamp(0.1rem, calc(1.3rem + .6vw), 1.5rem);
}

.display-1 {
    font-size: clamp(0.1rem, calc(1.5rem + 4vw), 4rem);
}

.markdown-content {
    font-size: 18px;

    .content-image img {
        max-width: 85%;
    }
}

.icon {
    width: 1em;
    height: 1em;
    /* Font-Awesome recommends -.125em vertical alignment (https://fontawesome.com/how-to-use/on-the-web/advanced/svg-symbols) 
       However, I mostly find myself using the following which looks better for some icons: */
    vertical-align: -.140em;
    fill: currentColor;
}
